 ==========================================================================
   Normalize
   ========================================================================== */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/* ==========================================================================
   Element Styles
   ========================================================================== */
body {
  background-color: #e0d4d4;
  font: 80% 'Roboto Slab';
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto 5em;
  max-width: 510px;
  width: 90%;
}

h1 {
  color: #ff6464;
  font: 4em 'Lobster';
  margin-bottom: 1.5em;
  text-shadow: 2px 2px #8e0e0e;
}

h3 {
  color: #ff6464;
  font: 2em 'Lobster';
}

p {
  margin: 15px auto;
}

input {
  border: 1px solid grey;
  border-radius: 10px;
  margin: .5em 1em 0 0;
  padding-left: 6px;
  outline: none;
}

input:hover {
  border: 1px solid #a2a2a2;
}

input:focus {
  border: 1px solid #ea8f8f;
}

button {
  border: 1px solid grey;
  border-radius: 15px;
  outline: none;
}

button:hover {
  border: 1px solid #989898;
  -webkit-box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 2px 0 0 rgba(50, 50, 50, 0.75);
}

button:active {
  background-color: #ea8f8f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ff6464;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */
.mapWrapper {
  position: relative;
}

#map {
  height: 200px;
}

#templates {
  display: none;
}

.numBox {
  background-color: #fff;
  border: 1px solid grey;
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
}

#error {
  color: red;
  height: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}


/*** load animation ***/
#circleG{
  display: none;
  position: absolute;
  top: 140px;
  left: 172px;
  width:149.33333333333334px;
  z-index: 70;
}

.circleG{
  background-color:#E3E3E3;
  float:left;
  height:32px;
  margin-left:17px;
  width:32px;
  -moz-animation-name:bounce_circleG;
  -moz-animation-duration:1.9500000000000002s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-border-radius:21px;
  -webkit-animation-name:bounce_circleG;
  -webkit-animation-duration:1.9500000000000002s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-border-radius:21px;
  -ms-animation-name:bounce_circleG;
  -ms-animation-duration:1.9500000000000002s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-border-radius:21px;
  -o-animation-name:bounce_circleG;
  -o-animation-duration:1.9500000000000002s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-border-radius:21px;
  animation-name:bounce_circleG;
  animation-duration:1.9500000000000002s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:21px;
}

#circleG_1{
  -moz-animation-delay:0.39s;
  -webkit-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  animation-delay:0.39s;
}

#circleG_2{
  -moz-animation-delay:0.9099999999999999s;
  -webkit-animation-delay:0.9099999999999999s;
  -ms-animation-delay:0.9099999999999999s;
  -o-animation-delay:0.9099999999999999s;
  animation-delay:0.9099999999999999s;
}

#circleG_3{
  -moz-animation-delay:1.1700000000000002s;
  -webkit-animation-delay:1.1700000000000002s;
  -ms-animation-delay:1.1700000000000002s;
  -o-animation-delay:1.1700000000000002s;
  animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
  0%{
  }
  50%{
  background-color:#FF6161}
  100%{
  }
}

@-webkit-keyframes bounce_circleG{
  0%{
  }
  50%{
  background-color:#FF6161}
  100%{
  }
}

@-ms-keyframes bounce_circleG{
  0%{
  }
  50%{
  background-color:#FF6161}
  100%{
  }
}

@-o-keyframes bounce_circleG{
  0%{
  }
  50%{
  background-color:#FF6161}
  100%{
  }
}

@keyframes bounce_circleG{
  0%{
  }
  50%{
  background-color:#FF6161}
  100%{
  }
}


/* ==========================================================================
   Media queries
   ========================================================================== */
@media all and (min-width: 500px) {
  body {
    font-size: 100%;
  }

  #map {
    height: 310px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/** {
  outline: 1px solid red;
}
