<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tweet Location Visualization</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab%7CLobster">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBXv_wuCnDap7mcgEGsT4H1vw0j_9YbADM&amp;sensor=false"></script>
  </head>
  <body>
    <section>
      <h1>Tweet Location Visualization</h1>
      <p>
        This app will allow you to search Twitter for the 100 most recent tweets for any keyword or hashtag. It utilizes the tweets location information to plot markers on the map below. Click on any of the markers to see the original tweet.
      </p>
      <label>
        Enter a keyword
        <input type="text" name="hashtag" value="#happy" maxlength="15">
      </label>
      <button>Get Results!</button>
      <div id="error"></div>
      <div class="mapWrapper">
        <div id="map">
        </div>
        <div id="circleG">
          <div id="circleG_1" class="circleG"></div>
          <div id="circleG_2" class="circleG"></div>
          <div id="circleG_3" class="circleG"></div>
        </div>
      </div>
      <h3>Out of the 100 Tweets</h3>
      <ul>
        <li><span class="numBox noData"></span> of the tweets have no location data</li>
        <li><span class="numBox noGeo"></span> are based on what the user put for location</li>
        <li>Only <span class="numBox locEnabled"></span> tweets were location enabled</li>
        <li>Basically, this information is pretty inaccurate...</li>
        <li>But it does give some interesting insight, enjoy!</li>
      </ul>
      <h3>APIs Used</h3>
      <ul>
        <li>
          <a href="//dev.twitter.com/docs/api" target="_blank">Twitter API</a>
        </li>
        <li>
          <a href="//developers.google.com/maps/" target="_blank">Google Maps API</a>
        </li>
        <li>
          <a href="//www.geonames.org/export/" target="_blank">Geonames API</a>
        </li>
      </ul>
      <h3>Contact</h3>
      <ul>
        <li>Stitched together by:
          <a href="//plus.google.com/u/0/116483157797299917604" target="_blank">Alex Baker</a>
        </li>
        <li>Twitter:
          <a href="//twitter.com/alexbakertech" target="_blank">@alexbakertech</a>
        </li>
        <li>Site:
          <a href="//alexbakertech.com" target="_blank">alexbakertech.com</a>
        </li>
      </ul>
    </section>
    <script src="static/js/main.js"></script>
  </body>
</html>
