<!DOCTYPE html>

<html lang="en">
  <head>
    <title>hashtag-map</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/main.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBXv_wuCnDap7mcgEGsT4H1vw0j_9YbADM&sensor=false"></script>
  </head>
  <body>
    <div>
      <label>
        Enter a hashtag
        <input type="text" name="hashtag" value="#happy">
        <button>Get Results!</button>
      </label>
    </div>
    <div id="map"></div>
    <div class="result"></div>
    <script src="/js/main.js"></script>
  </body>
</html>
